{{#each this}}
<div class="country-item">
    <img class="country-item-image" src="{{flag}}" alt="Flag of {{name}}" width="300">
    <div class="country-item-text-info">
        <h2>{{name}}</h2>
        <p>
        <h3>Capital:</h3>
        <span>{{capital}}</span>
        </p>
        <p>
        <h3>Population:</h3>
        <span>{{population}}</span>
        </p>
        <p>
        <h3>Languages:</h3>
        </p>
        <ul class="languages-list">
            {{#each languages}}
            <li class="language-item">{{name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{/each}}